.human_name-size{
	font-size: 22px;
	line-height: 33px;
}
.footer-mail{
	font-size: 24px;
	line-height: 38px;
}
.column-size{
	font-size:16px;
	line-height: 38px;
}
.footer-size{
	font-size: 16px;
	line-height: 40px;
}
.services-descr{
	font-size: 14px;
	line-height: 26px;
}
.services-size{
	font-size: 24px;
	line-height: 34px;

}
.column-title{
	line-height:38px;
}
.services-subtitle{
	line-height: 34px;
}
.big-descr{
	font-size: 24px;
	line-height: 40px;
}
.item-height{
	line-height: 40px;
}
.descr-size{
	font-size: 16px;
	line-height: 26px;
}
.title-size{
	font-size:36px;
	line-height: 46px;
}
.subtitle-size{
	font-size: 14px;
	line-height: 21px;
}

.link-size {
	font-size: 16px;
	line-height: 24px;
}

.big-title{
	font-size:60px;
	line-height:74px;
}

* {
	box-sizing:border-box;
}

img {
	max-width: 100%;
}

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
button{
	font-family:'Poppins', sans-serif;
}
.link {
display: inline-block;
text-indent: 10px;
border-bottom: 1px solid currentColor;
color: #D4D6D4;
font-weight: 700;
position:relative;
transition: color 0.3s ease-in-out;
cursor: pointer;
&::before{
	position:absolute;
	color: currentColor;
	left: -15%;
	font-family: FontAwesome;
	content:'\f0da';
}
}

.link:hover{
	color: #FFD723;
}

.title {
	font-family: Poppins;
	font-weight: 700;
	color: #4D533C;
}

.header {
padding: 24px 0px;
position: absolute;
left: 0;
top:0;
width:100%;
}
.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.companies{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-left:auto;
	padding:60px ;
	padding-bottom:54px;
	background: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 2px;
	position: relative;
	top: -100px;
	width: 88%;
	right:0;
  
}

.strategy {
display:flex;

}
.strategy-block {

		&__subtitle {
			color: rgba(77, 83, 60, 0.9);
		}

		&__title {
			font-weight: bold;
			color: #4D533C;
		}

		&__descr {
			max-width: 475px;
			padding-top:35px;
			padding-bottom:42px;
			color: rgba(33, 56, 66, 0.6);
		}

		&__link {
		}
}
.strategy-comment {
	background: #FFFFFF;
	box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
	max-width: 474px;
	padding: 0 40px;
	max-height: 600px;
		&__descr {
			font-style: italic;
			font-weight: normal;
			color: #4D533C;
		}
}
.strategy-human {
	display: flex;
		&__icon {
			width: 90px;
			height: 90px;
			margin-top:50px;
			border-radius: 100%;
			margin-right: 30px;
		}

		&__name {
			margin-top:64px;
			display: flex;
			flex-direction: column;
			font-weight: bold;
			color: #4D533C;
		}

		&__name span{
			color: #152934;
			font-weight: normal;
		}

}

.awesome-project {
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top:148px;
	padding-top:148px;	
	margin-bottom:110px;
	position: relative;
	&::before{
		content:'';
		width: 90%;
		height: 1px;
		background-color: rgba(33, 56, 66, 0.0955529);
		position:absolute;
	} 
	&__title {
		max-width: 345px;
		font-weight: bold;
		color: #4D533C;
	}

	&__text {
		max-width: 518px;
		margin-top:52px;
		color: rgba(33, 56, 66, 0.6);
	}
}


.burger {
	$offset-horizontal:11px;
	$offset-vertical:14px;
	position: relative;
	height: 40px;
	width: 40px;
	background-color: #F5F6F7;
	border-radius: 100%;
	padding: $offset-vertical $offset-horizontal;
		&__line {
			left:50%;
			top:$offset-vertical;
			position: absolute;
			display: inline-block;
			background-color: #000;
			width: calc(100% - 22px);
			height:2px;
			transform: translateX(-50%);
		}
		&__line:nth-child(2){
			top:$offset-vertical + 6px;
		}
		&__line:nth-child(3){
			top:$offset-vertical + 12px;
		}

}
.hero {
	padding-top: 189px;
	padding-bottom: 100px;
	min-height: 811px;
	background-image: url("../img/Hero-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

		&__content {
			max-width: 616px;
			color:#fff;
		}

		&__subtitle {
			display: inline-block;
			margin-bottom: 22px;
		}

		&__title {
			margin:0;
			margin-bottom: 24px;
			font-weight: 700;
		}

		&__descr {
			margin:0;
			margin-bottom: 45px;
		}

		&__link {
			color: #FFD723;
		}
}

.about-project {
max-width: 1500px;
margin: 0 auto;
}
.project-row {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap:60px;
}
.project-feedback {
		&__img {
	
		}

		&__comment {
			position:relative;
			padding:30px;
			background: #FFFFFF;
			box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
			border-radius: 8px;
			width: 71%;
			bottom: 20%;
			left: 36%;
		}
}
.comment-left{
	left:-5%;
}
.description-left{
	margin-left:5%;
}
.comment-text {
	font-style: italic;
	color: #4D533C;
}
.feedback-human {
	display: flex;
		&__img {
			box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
			border-radius: 50%;
			width: 46px;
			height: 46px;
			margin-top:20px;
			margin-right: 10px;
		}

		&__name {

		}

		&__name--name {
			font-weight: bold;
		}

		&__name--work {
		}
}
.project-description {
	width:80%;
		&__title {
			font-weight: bold;
			color: #4D533C;
		}

		&__text {
			color: rgba(33, 56, 66, 0.6);
		}
		&__link {
			margin-top: 90px;
		}
}


.services {
	margin-bottom: -90px;
	padding-top: 150px;
	padding-bottom: 150px;
	position: relative;
	&::before{
		content:'';
		width: 90%;
		height: 1px;
		background-color: rgba(33, 56, 66, 0.0955529);
		position:absolute;
		margin-top: -150px;
	}
		&__title {
			margin:0;
			margin-bottom: 60px;
			max-width: 606px;
		}

		&__list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap:30px;
		}
}

.services-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height:309px;
		&__subtitle {
			margin:0;
			margin-bottom: 20px;
			max-width: 183px;
			font-family: Poppins;
			font-weight: 500;
			text-transform: uppercase;
			color: #4D533C;
		}

		&__descr {
			margin:0;
			max-width: 194px;
			font-family: Poppins;
			font-weight: 400;
			color: rgba(33, 56, 66, 0.6);
		}

		&__link {
			display: inline-block;
			width: 102px;
			margin-bottom: 0;
			margin-top: auto;
		}
}
.get-started {
	position:relative;
	top:180px;
	background-color: #fafafa;
	width: 88.54%;
	padding: 70px 0;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
		&__title {
			margin:0;
			margin-bottom: 50px;
			max-width: 822px;
		}

		&__link {
			margin-left:7px;
			text-transform: uppercase;
		}
}
.footer {
	background-image: url('../img/footer-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding-top:300px;
		&__top {
			display:flex;
			flex-wrap: wrap;
			padding-bottom: 52px;
			border-bottom: 1px solid #5D6544;
		}

		&__middle {
			display:grid;
			grid-template-columns: repeat(4, 1fr);
			padding: 60px 0;
			border-bottom: 1px solid #5D6544;
		}

		&__bottom {
			display:flex;
			align-items: center;
			justify-content: space-between;
			padding: 24px 0;
		}
}

.footer-item {
	min-width: 134px;
	&:not(:last-child){
		margin-right: 128px;
	}
		&__text {	
			display:block;
			color: #B6C197;
			margin-bottom: 8px;
		}

		&__value {
			display: inline-block;
			font-weight: 700;
			color: #FFFFFF;
			font-style: normal;
			text-decoration: none;
		}

		&__link {
			margin:0;
			color: #B6C197;
		}
}

.footer-column {
	min-width: fill-content;
	&__title {
		margin: 0;
		margin-bottom: 21px;
		font-weight: 600;
	}

	&__list {
	
	}
}
.footer-colomn:last-child{
	position: relative;
}
.footer-colomn:last-child::before{
	content: '';
	position: absolute;
	display: inline-block;
	background: #5D6544;
	width: 1px;
	height: 210px;
	left: -90px;

	
}

.footer-item {

	&__link {
	}
}
.footer-colomn {

	&__title {
		margin:0;
		margin-bottom: 23px;
	}

	&__text {
		color: #B6C197;
		margin:0;
		margin-bottom: 23px;
		min-width: 200px;
	}

	&__mail {
		margin:0;
		color: #FFFFFF;
		font-weight: bold;
	}

	&__social {
		display: flex;
		flex-wrap: wrap;
	}
}
.social-item {

	&__link {
		display: inline-block;
		font-family: FontAwesome;
		border: 1px solid #444A34;
		color: #5E6648;
		border-radius: 50%;
		width:33px;
		height: 33px;
		background: #444A34;
		text-align: center;
		line-height: 33px;
		margin-right: 11px;
		margin-top: 24px;

		&:hover{
			color: #fff;
			background: #FFD723;
		}

	}
}
.fb-link {
	
}
.tw-link {
	
}
.gl-link {
	
}
.lk-link {
		
}

.logo {
}
.copyright {
	color: #B5C096;
}

@media (max-width: 1140px){
	.footer__middle{
		grid-template-columns: repeat(4, minmax(200px,230px));
	}
	.footer-colomn:last-child::before{
		left:-70px;
	}

}

@media (max-width: 1040px){
	$big_title_size:10px;
	.footer-colomn:last-child::before{
		left:-60px;
	}
	.footer__middle{
		grid-template-columns: repeat(4, minmax(200px,200px));
	}
	.project-description__link {
		margin-top:40px;
	}
	
}

@media (max-width: 940px){
	.strategy-block{
		padding-right:10px;
	}
	.footer__middle{
		grid-template-columns: repeat(3, auto);
		row-gap: 60px;
	}

	.footer-mail{
		font-size: 20px;
		line-height: 34px;
	}
	.column-size{
		font-size:14px;
		line-height: 34px;
	}
	.footer-size{
		font-size: 14px;
		line-height: 36px;
	}
	.services-descr{
		font-size: 12px;
		line-height: 22px;
	}
	.services-size{
		font-size: 20px;
		line-height: 28px;
	
	}
	.column-title{
		line-height:32px;
	}
	.services-subtitle{
		line-height: 28px;
	}
	.big-descr{
		font-size: 20px;
		line-height: 34px;
	}
	.item-height{
		line-height: 34px;
	}
	.descr-size{
		font-size: 14px;
		line-height: 22px;
	}
	.title-size{
		font-size:30px;
		line-height: 38px;
	}
	.subtitle-size{
		font-size: 12px;
		line-height: 19px;
	}
	.link-size{
		font-size: 14px;
		line-height: 20px;
	}
	.big-title{
		font-size:50px;
		line-height:64px;
	}
}
@media(max-width:800px){
	.project-feedback__comment{
		padding:20px;
	}

	.footer__middle{
		grid-template-columns: repeat(2,1fr);
	}

}

@media (max-width: 650px){
	.companies img{
		width:30%;
		height:30%;
	}

	.footer__middle{
		grid-template-columns: repeat(2, auto);
		row-gap: 60px;
	}
}

@media (max-width: 576px){
	.project-description__title span{
		font-size:14px;
	}
	.footer__middle{
		grid-template-columns: repeat(2,minmax(40%,40%));
	}
	.services__list{
		grid-template-columns: repeat(2, 1fr);
	}
	.services-item{
		min-height:150px;
	}
	.project-feedback__comment {
		padding:10px;
	}

		
	.footer-mail{
		font-size: 18px;
		line-height: 30px;
	}
	.column-size{
		font-size:12px;
		line-height: 30px;
	}
	.footer-size{
		font-size: 12px;
		line-height: 32px;
	}
	.services-descr{
		font-size: 10px;
		line-height: 18px;
	}
	.services-size{
		font-size: 18px;
		line-height: 24px;
	
	}
	.column-title{
		line-height:26px;
	}
	.services-subtitle{
		line-height: 28px;
	}
	.big-descr{
		font-size: 20px;
		line-height: 34px;
	}
	.item-height{
		line-height: 34px;
	}
	.descr-size{
		font-size: 14px;
		line-height: 22px;
	}
	.title-size{
		font-size:30px;
		line-height: 38px;
	}
	.subtitle-size{
		font-size: 12px;
		line-height: 19px;
	}
	.link-size{
		font-size: 14px;
		line-height: 20px;
	}
	.big-title{
		font-size:40px;
		line-height:54px;
	}
}
@media (max-width: 530px){
	.big-descr{
		font-size: 18px;
		line-height: 30px;
	}
	.strategy-comment {
		padding: 0 20px;
		justify-content: center;
	}
	.strategy-human {
		flex-direction: column;
		&__icon {
			margin-top:40px;
			align-self: center;
		}

		&__name {
			margin-top:20px;
			align-self: center;
		}
	}
	.human_name-size{
		font-size: 18px;
		line-height: 26px;
	}
	.project-feedback__comment {
		padding:10px;
		width: 100%;
		bottom: 0;
		left: 0;
}
.services {
	&::before{
		margin-top: -75px;
	}
}
.project-description__link{
	margin-top:0px;
}
.project-row{
	padding-bottom:40px;
}

}

@media (max-width: 470px){


	.footer-colomn:last-child::before{
		width: 0px;
		height: 0px;
		left: 0px;
	}
	.social-item__link {
		margin-right:5px;
}
.logo img{
	width:50%;
	height: 50%;
}

.footer-mail{
	font-size: 16px;
	line-height: 26px;
}
.column-size{
	font-size:10px;
	line-height: 26px;
}
.footer-size{
	font-size: 10px;
	line-height: 28px;
}
.services-descr{
	font-size: 10px;
	line-height: 18px;
}
.services-size{
	font-size: 16px;
	line-height: 20px;

}
.column-title{
	line-height:22px;
}
.services-subtitle{
	line-height: 24px;
}
.big-descr{
	font-size: 18px;
	line-height: 30px;
}
.item-height{
	line-height: 30px;
}
.descr-size{
	font-size: 12px;
	line-height: 18px;
}
.title-size{
	font-size:28px;
	line-height: 34px;
}
.subtitle-size{
	font-size: 10px;
	line-height: 16px;
}
  .link-size{
    font-size: 12px;
    line-height: 16px;
  }
  .big-title{
    font-size:36px;
    line-height:44px;
  }
  .footer-colomn__social{
    min-width:200px;
  }
}
@media (max-width: 410px){
	.strategy {
		flex-direction: column;		
		}
}
@media (max-width: 375px){
  .project-description:nth-child(1){
    order:1;
  }
	.footer__middle{
		grid-template-columns: repeat(1,1fr);
		gap:20px;
	}
}

@media (max-width: 340px){
	.project-row {
		display: flex;
		flex-direction: column;
		max-width: 1140px;
		padding: 0 15px;
		margin: 0 auto;
	}

	.awesome-project{
		display: flex;
		flex-direction: column;
		
	}
	.services__list{
		display:flex;
		flex-direction: column;
		align-items: center;
	}
}
